<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>電卓アプリ</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="./css/Skeleton-2.0.4/normalize.css">
        <link rel="stylesheet" href="./css/Skeleton-2.0.4/skeleton.css">
        <link rel="stylesheet" href="./css/user.css">
    </head>
    <body>
        <div id="calculator">
            <div class="container">
                <div class="row">
                    <div class="six columns">
                        <input class="u-full-width calc-result" type="text" placeholder="Press Buttons" readonly="readonly" v-model="output">
                    </div>
                    <div class="three columns">
                        <button class="u-full-width" v-on:click="calculation">計算</button>
                    </div>
                    <div class="three columns">
                        <button class="u-full-width" v-on:click="clear">クリア</button>
                    </div>
                </div>
                <div class="row" v-for="item in items">
                    <div class="three columns" v-for="val in item">
                        <button class="u-full-width" v-on:click="doClick(val)">{{val}}</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./js/calculator.js"></script>
</html>